.vs/DemoGraphQL2/config/applicationhost.config
.vs/DemoGraphQL2/DesignTimeBuild/.dtbcache.v2
.vs/DemoGraphQL2/FileContentIndex/060d9e58-81a6-4d0a-9d37-bcba039b4cdb.vsidx
.vs/DemoGraphQL2/FileContentIndex/2aaa5cc5-c740-4640-b13c-f0f5ef76ef20.vsidx
.vs/DemoGraphQL2/FileContentIndex/8264af22-8295-4a10-bb80-ecde44b78d9e.vsidx
.vs/DemoGraphQL2/FileContentIndex/b19cdc04-b029-4af3-8f52-dfa4077bb0a6.vsidx
.vs/DemoGraphQL2/FileContentIndex/de17f02f-bdb9-4083-ba95-1b866097c740.vsidx
.vs/DemoGraphQL2/v17/.futdcache.v2
.vs/DemoGraphQL2/v17/.suo
.vs/ProjectEvaluation/demographql2.metadata.v7.bin
.vs/ProjectEvaluation/demographql2.projects.v7.bin
DemoGraphQL2/bin/Debug/net6.0/appsettings.Development.json
DemoGraphQL2/bin/Debug/net6.0/appsettings.json
DemoGraphQL2/bin/Debug/net6.0/BananaCakePop.Middleware.dll
DemoGraphQL2/bin/Debug/net6.0/DemoGraphQL2.deps.json
DemoGraphQL2/bin/Debug/net6.0/DemoGraphQL2.dll
DemoGraphQL2/bin/Debug/net6.0/DemoGraphQL2.exe
DemoGraphQL2/bin/Debug/net6.0/DemoGraphQL2.pdb
DemoGraphQL2/bin/Debug/net6.0/DemoGraphQL2.runtimeconfig.json
DemoGraphQL2/bin/Debug/net6.0/GraphiQL.dll
DemoGraphQL2/bin/Debug/net6.0/GraphQL.dll
DemoGraphQL2/bin/Debug/net6.0/GraphQLParser.dll
DemoGraphQL2/bin/Debug/net6.0/GreenDonut.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Abstractions.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.AspNetCore.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Authorization.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Execution.Abstractions.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Execution.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Fetching.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Language.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Language.SyntaxTree.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Language.Utf8.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Language.Visitors.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Language.Web.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Subscriptions.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Subscriptions.InMemory.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Transport.Sockets.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Types.CursorPagination.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Types.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Types.Mutations.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Types.OffsetPagination.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Types.Scalars.Upload.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Utilities.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Utilities.Introspection.dll
DemoGraphQL2/bin/Debug/net6.0/HotChocolate.Validation.dll
DemoGraphQL2/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
DemoGraphQL2/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
DemoGraphQL2/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
DemoGraphQL2/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
DemoGraphQL2/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
DemoGraphQL2/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
DemoGraphQL2/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
DemoGraphQL2/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
DemoGraphQL2/bin/Debug/net6.0/Microsoft.Extensions.DiagnosticAdapter.dll
DemoGraphQL2/bin/Debug/net6.0/Microsoft.Identity.Client.dll
DemoGraphQL2/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
DemoGraphQL2/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
DemoGraphQL2/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
DemoGraphQL2/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
DemoGraphQL2/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
DemoGraphQL2/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
DemoGraphQL2/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
DemoGraphQL2/bin/Debug/net6.0/System.Diagnostics.DiagnosticSource.dll
DemoGraphQL2/bin/Debug/net6.0/System.Drawing.Common.dll
DemoGraphQL2/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
DemoGraphQL2/bin/Debug/net6.0/System.IO.Hashing.dll
DemoGraphQL2/bin/Debug/net6.0/System.Runtime.Caching.dll
DemoGraphQL2/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
DemoGraphQL2/bin/Debug/net6.0/System.Security.Permissions.dll
DemoGraphQL2/bin/Debug/net6.0/System.Text.Json.dll
DemoGraphQL2/bin/Debug/net6.0/System.Windows.Extensions.dll
DemoGraphQL2/bin/Debug/net6.0/Yarp.ReverseProxy.dll
DemoGraphQL2/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
DemoGraphQL2/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
DemoGraphQL2/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
DemoGraphQL2/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
DemoGraphQL2/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
DemoGraphQL2/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
DemoGraphQL2/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
DemoGraphQL2/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
DemoGraphQL2/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
DemoGraphQL2/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
DemoGraphQL2/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
DemoGraphQL2/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
DemoGraphQL2/obj/DemoGraphQL2.csproj.nuget.dgspec.json
DemoGraphQL2/obj/DemoGraphQL2.csproj.nuget.g.props
DemoGraphQL2/obj/DemoGraphQL2.csproj.nuget.g.targets
DemoGraphQL2/obj/project.assets.json
DemoGraphQL2/obj/project.nuget.cache
DemoGraphQL2/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DemoGraphQL2/obj/Debug/net6.0/apphost.exe
DemoGraphQL2/obj/Debug/net6.0/DemoGraphQL2.AssemblyInfo.cs
DemoGraphQL2/obj/Debug/net6.0/DemoGraphQL2.AssemblyInfoInputs.cache
DemoGraphQL2/obj/Debug/net6.0/DemoGraphQL2.assets.cache
DemoGraphQL2/obj/Debug/net6.0/DemoGraphQL2.csproj.AssemblyReference.cache
DemoGraphQL2/obj/Debug/net6.0/DemoGraphQL2.csproj.BuildWithSkipAnalyzers
DemoGraphQL2/obj/Debug/net6.0/DemoGraphQL2.csproj.CopyComplete
DemoGraphQL2/obj/Debug/net6.0/DemoGraphQL2.csproj.CoreCompileInputs.cache
DemoGraphQL2/obj/Debug/net6.0/DemoGraphQL2.csproj.FileListAbsolute.txt
DemoGraphQL2/obj/Debug/net6.0/DemoGraphQL2.dll
DemoGraphQL2/obj/Debug/net6.0/DemoGraphQL2.GeneratedMSBuildEditorConfig.editorconfig
DemoGraphQL2/obj/Debug/net6.0/DemoGraphQL2.genruntimeconfig.cache
DemoGraphQL2/obj/Debug/net6.0/DemoGraphQL2.GlobalUsings.g.cs
DemoGraphQL2/obj/Debug/net6.0/DemoGraphQL2.MvcApplicationPartsAssemblyInfo.cache
DemoGraphQL2/obj/Debug/net6.0/DemoGraphQL2.pdb
DemoGraphQL2/obj/Debug/net6.0/staticwebassets.build.json
DemoGraphQL2/obj/Debug/net6.0/ref/DemoGraphQL2.dll
DemoGraphQL2/obj/Debug/net6.0/refint/DemoGraphQL2.dll
DemoGraphQL2/obj/Debug/net6.0/staticwebassets/msbuild.build.DemoGraphQL2.props
DemoGraphQL2/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.DemoGraphQL2.props
DemoGraphQL2/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.DemoGraphQL2.props
DemoGraphQL2Gui/obj/DemoGraphQL2Gui.csproj.nuget.dgspec.json
DemoGraphQL2Gui/obj/DemoGraphQL2Gui.csproj.nuget.g.props
DemoGraphQL2Gui/obj/DemoGraphQL2Gui.csproj.nuget.g.targets
DemoGraphQL2Gui/obj/project.assets.json
DemoGraphQL2Gui/obj/project.nuget.cache
DemoGraphQL2Gui/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DemoGraphQL2Gui/obj/Debug/net6.0/apphost.exe
DemoGraphQL2Gui/obj/Debug/net6.0/DemoGraphQL2Gui.AssemblyInfo.cs
DemoGraphQL2Gui/obj/Debug/net6.0/DemoGraphQL2Gui.AssemblyInfoInputs.cache
DemoGraphQL2Gui/obj/Debug/net6.0/DemoGraphQL2Gui.assets.cache
DemoGraphQL2Gui/obj/Debug/net6.0/DemoGraphQL2Gui.csproj.AssemblyReference.cache
DemoGraphQL2Gui/obj/Debug/net6.0/DemoGraphQL2Gui.csproj.BuildWithSkipAnalyzers
DemoGraphQL2Gui/obj/Debug/net6.0/DemoGraphQL2Gui.csproj.CopyComplete
DemoGraphQL2Gui/obj/Debug/net6.0/DemoGraphQL2Gui.csproj.CoreCompileInputs.cache
DemoGraphQL2Gui/obj/Debug/net6.0/DemoGraphQL2Gui.csproj.FileListAbsolute.txt
DemoGraphQL2Gui/obj/Debug/net6.0/DemoGraphQL2Gui.dll
DemoGraphQL2Gui/obj/Debug/net6.0/DemoGraphQL2Gui.GeneratedMSBuildEditorConfig.editorconfig
DemoGraphQL2Gui/obj/Debug/net6.0/DemoGraphQL2Gui.genruntimeconfig.cache
DemoGraphQL2Gui/obj/Debug/net6.0/DemoGraphQL2Gui.GlobalUsings.g.cs
DemoGraphQL2Gui/obj/Debug/net6.0/DemoGraphQL2Gui.MvcApplicationPartsAssemblyInfo.cache
DemoGraphQL2Gui/obj/Debug/net6.0/DemoGraphQL2Gui.pdb
DemoGraphQL2Gui/obj/Debug/net6.0/DemoGraphQL2Gui.RazorAssemblyInfo.cache
DemoGraphQL2Gui/obj/Debug/net6.0/DemoGraphQL2Gui.RazorAssemblyInfo.cs
DemoGraphQL2Gui/obj/Debug/net6.0/project.razor.vs.json
DemoGraphQL2Gui/obj/Debug/net6.0/staticwebassets.build.json
DemoGraphQL2Gui/obj/Debug/net6.0/staticwebassets.development.json
DemoGraphQL2Gui/obj/Debug/net6.0/staticwebassets.pack.json
DemoGraphQL2Gui/obj/Debug/net6.0/ref/DemoGraphQL2Gui.dll
DemoGraphQL2Gui/obj/Debug/net6.0/refint/DemoGraphQL2Gui.dll
DemoGraphQL2Gui/obj/Debug/net6.0/scopedcss/bundle/DemoGraphQL2Gui.styles.css
DemoGraphQL2Gui/obj/Debug/net6.0/scopedcss/projectbundle/DemoGraphQL2Gui.bundle.scp.css
DemoGraphQL2Gui/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
DemoGraphQL2Gui/obj/Debug/net6.0/staticwebassets/msbuild.build.DemoGraphQL2Gui.props
DemoGraphQL2Gui/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.DemoGraphQL2Gui.props
DemoGraphQL2Gui/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.DemoGraphQL2Gui.props
DemoGraphQL2Gui/obj/Debug/net6.0/staticwebassets/msbuild.DemoGraphQL2Gui.Microsoft.AspNetCore.StaticWebAssets.props
DemoGraphQL2Gui/bin/Debug/net6.0/appsettings.Development.json
DemoGraphQL2Gui/bin/Debug/net6.0/appsettings.json
DemoGraphQL2Gui/bin/Debug/net6.0/DemoGraphQL2Gui.deps.json
DemoGraphQL2Gui/bin/Debug/net6.0/DemoGraphQL2Gui.dll
DemoGraphQL2Gui/bin/Debug/net6.0/DemoGraphQL2Gui.exe
DemoGraphQL2Gui/bin/Debug/net6.0/DemoGraphQL2Gui.pdb
DemoGraphQL2Gui/bin/Debug/net6.0/DemoGraphQL2Gui.runtimeconfig.json
DemoGraphQL2Gui/bin/Debug/net6.0/DemoGraphQL2Gui.staticwebassets.runtime.json
DemoGraphQL2Gui/bin/Debug/net6.0/GraphQL.Client.Abstractions.dll
DemoGraphQL2Gui/bin/Debug/net6.0/GraphQL.Client.Abstractions.Websocket.dll
DemoGraphQL2Gui/bin/Debug/net6.0/GraphQL.Client.dll
DemoGraphQL2Gui/bin/Debug/net6.0/GraphQL.Client.Serializer.Newtonsoft.dll
DemoGraphQL2Gui/bin/Debug/net6.0/GraphQL.Primitives.dll
DemoGraphQL2Gui/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
DemoGraphQL2Gui/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
DemoGraphQL2Gui/bin/Debug/net6.0/Microsoft.Extensions.Http.dll
DemoGraphQL2Gui/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
DemoGraphQL2Gui/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
DemoGraphQL2Gui/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
DemoGraphQL2Gui/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
DemoGraphQL2Gui/bin/Debug/net6.0/Newtonsoft.Json.dll
DemoGraphQL2Gui/bin/Debug/net6.0/System.Reactive.dll
